<div class="py-5">
    <div class="card">
        <h5 class="card-header">Trilha de Certificação</h5>
        <div class="card-body">
            <form id="formTrilha" #formluario="ngForm">
                <div class="form-group">
                    <label for="campo">Nome da Trilha</label>
                    <input type="text" class="form-control" id="campo" [(ngModel)]="trilha.descricao" name="descricao" />
                </div>
                <div class="form-group">
                    <label for="anoCombobox">Ano</label>
                    <select class="form-control" id="anoCombobox" [(ngModel)]="trilha.ano" name="ano">
                        <option value="0">Selecione</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Notificações de Atualização</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            [value]="true" checked [(ngModel)]="trilha.notificar">
                        <label class="form-check-label" for="exampleRadios1">
                            Notificar por e-mail
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            [value]="false" [(ngModel)]="trilha.notificar">
                        <label class="form-check-label" for="exampleRadios2">
                            Não notificar
                        </label>
                    </div>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="ativoCheck" [(ngModel)]="trilha.ativo" name="ativo">
                    <label class="form-check-label" for="ativoCheck" >Ativo</label>
                </div>


                <div class="row">
                    <div class="col-sm">
                        <div class="list" *ngFor="let itemTrilha of trilha?.certificacoes">
                            <select class="form-control" [(ngModel)]="itemTrilha.certificacaoId" [ngModelOptions]="{standalone: true}">
                                <option value="">Selecione</option>
                                <option *ngFor="let item of certificacoes" [value]="item.id">
                                    {{ item.codigo + ' - ' + item.descricao }} </option>
                            </select>

                        </div>
                        <div class="m-t">
                            <button class="btn btn-block btn-success" (click)="addItem()">Adicionar</button>
                        </div>
                    </div>
                </div>

                <div class="py-5">
                    <button type="submit" class="btn btn-primary" (click)="add()">Salvar</button>
                    <button type="button" class="btn btn-default m-l-md" onclick="limpar()">Limpar</button>
                </div>

            </form>
        </div>
    </div>
</div>

{{trilha | json}}